attrs==20.3.0
autobahn==21.3.1
Automat==20.2.0
aws-psycopg2==1.2.1
binance==0.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
constantly==15.1.0
cryptography==3.4.6
dateparser==1.0.0
greenlet==1.0.0
hmmlearn==0.2.5
hyperlink==21.0.0
idna==2.10
importlib-metadata==3.7.3
incremental==21.3.0
joblib==1.0.1
numpy==1.20.1
pandas==1.2.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==20.0.1
python-binance==0.7.9
python-dateutil==2.8.1
pytz==2021.1
regex==2021.3.17
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.1
service-identity==18.1.0
six==1.15.0
SQLAlchemy==1.4.2
threadpoolctl==2.1.0
twilio==6.58.0
Twisted==21.2.0
txaio==21.2.1
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==4.0.2
urllib3==1.26.4
zipp==3.4.1
zope.interface==5.3.0
